*{ /*Reseta toda a página html*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

html[data-theme="light"]{
    --bg: #dadada;
    --bg-box: white;
    --color-text: black;
    --color-shadow: -4px -2px 4px 0px #ffff,
                    4px 2px 6px 0px #DFE4EA;
    --border: black;
}

html[data-theme="dark"]{
    --bg: #151515;
    --bg-box: #1c1919;
    --color-text: rgb(255, 255, 255);
    --color-shadow: -4px -2px 4px 0px rgba(255, 255, 255, 0.05),
                    4px 2px 6px 0px rgba(0, 0, 0, 0.5);
    --border: white;
}

body{
    background-color: var(--bg);
    color: var(--color-text);
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-box);
    color: var(--color-text);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid var(--border);
    border-radius: 10px;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img{
    height: 6rem;
}

.instagram-login{
    background-color: #0095f5;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: var(--color-text);
    margin-top: 1rem;
}

.not-acount{
    color: rgb(160, 160, 160);
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url(/img/apple-button.png);
}

.app-download:nth-child(2){
    background-image: url(/img/googleplay-button.png);
}

/*media queries*/

@media(max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media(max-width: 650px){
    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone{
        display: none;
    }
    .instagram-continue{
        width: 90%;
    }
}

/*!Conf darkMode*/
.darkMode{
    z-index: 100;
    position: fixed;
    right: 15px;
    width: 50px;
    height: 20px;
    background: #000000;
    border-radius: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.darkMode:focus-within .thumb{
    box-shadow: 0 0 5px 5px #ff6a00;
}

.darkMode .thumb {
    position: absolute;
    top: -0.15px;
    left: 1px;
    width: 25px;
    height: 21px;
    border-radius: 50%;
    background-color: #ffffff;
    box-sizing: border-box;
    -webkit-transition: all 0.5s cubic-bezier(0.23,1,0.32,1) 0ms;
    transition: all 0.5s cubic-bezier(0.23,1,0.32,1) 0ms;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.darkMode span {
    width: 50%;
    text-align: center;
    pointer-events: none;
}
.darkMode input {
    display: none;
}
.darkMode input:not(:checked) ~ .dark {
    display: block;
}

.darkMode input:checked ~ .thumb {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

data-styled.g3[id="darkMode"]{
    content: "darkMode,"
}